<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre del evento</ion-label>
    <ion-input [formControl]="nombre" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha de inicio</ion-label>
    <ion-input type="date" [formControl]="fechainicio"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Fecha final</ion-label>
    <ion-input type="date" [formControl]="fechafin"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Ubicacion</ion-label>
    <ion-input [formControl]="ubicacion"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre del encargado</ion-label>
    <ion-input [formControl]="encargado"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Numero del encargado </ion-label>
    <ion-input [formControl]="numero" type="number"></ion-input>
  </ion-item>
  <ion-button (click)="agregar()">Agregar</ion-button>
  <table>
    <tr *ngFor="let item of items;let indice=index">
      <td> {{indice+1}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.fecha1}}</td>
      <td>{{item.fecha2}}</td>
      <td>{{item.ubicacion}}</td>
      <td>{{item.encargado}}</td>
      <td>{{item.numero}}</td>
      <td>
        <ion-label>Completado</ion-label>
        <ion-checkbox></ion-checkbox>
      </td>
    </tr>
  </table>
</ion-content>