<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Eventos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-label>Nombre de pelicula</ion-label>
    <ion-input [formControl]="nombre" required></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Año de lanzamiento</ion-label>
    <ion-input  [formControl]="ano"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Nombre de la productora</ion-label>
    <ion-input  [formControl]="productora"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Casa productora</ion-label>
    <ion-input [formControl]="casa"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label>Portagonista</ion-label>
    <ion-input [formControl]="prota"></ion-input>
  </ion-item>

  <ion-button (click)="agregar()">Agregar</ion-button>
  <ion-button (click)="redirect()">ir a formulario</ion-button>
  <ion-item *ngIf="chistes">
    <h2>{{chistes.value}}</h2>
  </ion-item>
  <table>
    <tr *ngFor="let item of items;let indice=index">
      <td> {{indice+1}}</td>
      <td>{{item.nombre}}</td>
      <td>{{item.fecha1}}</td>
      <td>{{item.fecha2}}</td>
      <td>{{item.ubicacion}}</td>
      <td>{{item.prota}}</td>
      <td>{{item.numero}}</td>
      <!-- <td>
        <ion-label>Completado</ion-label>
        <ion-checkbox></ion-checkbox>
      </td> -->
    </tr>
  </table>
</ion-content>